body{
  margin: 0;
  font-family: 'Georama', sans-serif;
  background-color: #2b2a33;
}
::-webkit-scrollbar{
  display: none;
}
/*.bgimage{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
  filter: blur(8px) grayscale(60%);
}*/
/*video{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
  filter: blur(8px) grayscale(60%);
}*/
#header-bg{
  background-color: #403F47;
  position: absolute;
  width: 800px;
  height: 110px;
  z-index: -999;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 0 0 50px 50px;
  box-shadow: 0 5px 5px 0 black;
}
header{
  padding: 30px;
}
section{
  padding: 20px;
  text-align: center;
}
section #title{
  font-size: 200px;
  font-weight: 500;
  color: white;
  text-shadow: 2px 2px 10px black;
}
section h2{
  font-size: 72px;
  color: #D4D4D6;
  text-shadow: 2px 2px 10px black;
  margin-top: 0;
  margin-bottom: 0;
}
#footer-bg{
  background-color: #403F47;
  position: absolute;
  width: 550px;
  height: 50px;
  z-index: -999;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
  border-radius: 25px 25px 0 0;
  box-shadow: 0 0 5px 1px black;
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #D4D4D6;
  text-shadow: 2px 2px 2px black;
}
header nav ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  font-size: 20px;
}
header nav ul li{
  display: inline-block;
  width: 180px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
header nav ul li a{
  display: block;
  color: #D4D4D6;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 3px black;
}
header nav ul li a:hover{
  color: white;
}
.activesite{
  color: white;
}
.button{
  background-color: #403F47;
  border: none;
  color: #D4D4D6;
  padding: 15px 48px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  border-radius: 20px;
  box-shadow: 0 2px 2px 0 black;
  text-shadow: 1px 1px 5px black;
  transition-duration: 0.2s;
}
.button:hover{
  color: white;
  background-color: #403F47;
  font-size: 26px;
}
section .firsttext{
  color: #D4D4D6;
  font-size: 24px;
  text-shadow: 2px 2px 2px black;
  margin-bottom: -10px;
}
section .secondtext{
  color: #D4D4D6;
  font-size: 20px;
  text-shadow: 2px 2px 2px black;
  margin-bottom: 10px;
}
#contacticon{
  width: 50px;
}
#menuphone1{
  display: none;
}
#menuphone2{
  display: none;
}
#footerphone1{
  display: none;
}
#footerphone2{
  display: none;
}
#footerphone3{
  display: none;
}
@media screen and (max-width: 810px){
  #header-bg{
    width: 400px;
    height: 170px;
  }
  #menu{
    display: none;
  }
  #menuphone1{
    display: block;
  }
  #menuphone2{
    display: block;
    margin-top: 10px;
  }
  #footer-bg{
    width: 200px;
    height: 100px;
  }
  #footerdesktop{
    display: none;
  }
  #footerphone1{
    display: block;
  }
  #footerphone2{
    display: block;
  }
  #footerphone3{
    display: block;
  }
  section #title{
    font-size: 128px;
  }
  section h2{
    font-size: 36px;
  }
  section{
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 425px){
  #menu{
    display: block;
  }
  #menuphone1{
    display: none;
  }
  #menuphone2{
    display: none;
  }
  #menu li{
    margin-top: 10px;
  }
  #menu li:first-child{
    margin-top: 0;
  }
  #header-bg{
    height: 280px;
    width: 200px;
  }
}
@media screen and (max-height: 960px){
  section #title{
    font-size: 128px;
  }
  section h2{
    font-size: 36px;
  }
}
@media screen and (max-height: 830px){
  section{
    margin-bottom: 100px;
  }
}